/* ------------------
        Font 
---------------------*/
font-family: 'Poppins',
sans-serif;

/*------------------------------------- 
                Header 
---------------------------------------*/

.background {
    display: flex;
    flex-direction: row;
}