/* ------------------
        Font 
---------------------*/
body {
    font-family: 'Poppins', sans-serif;
}

/*------------------------------------- 
                Header 
---------------------------------------*/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.background {
    background-color: black;
    display: flex;
    gap: 60px;
    color: white;
    width: 1350px;
    height: 650px;
    border-radius: 20px;
}

.text h1 {
    font-size: 60px;
    font-weight: 700;

}

.text p {
    font-weight: 400;
    margin-top: -20px;
    margin-bottom: 30px;
}

.background img {
    width: 100%;
    padding: 5px;
}

.image {
    width: 581px;
    height: 613px;
    padding-top: 29px;
}

.background text {
    width: 100%;
}

.text {
    width: 531px;
    height: 424px;
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 100px;
}

/*---------- 
    Button 
------------*/

@keyframes sliding {
    0% {
        margin-left: 0px;
    }

    50% {
        margin-left: 10px;
    }

    100% {
        margin-left: 0px;
    }
}

button {
    color: white;
    background-color:
        #DD0000;
    font-size: 18px;
    width: 190px;
    height: 56px;
    border-radius: 10px;
}

.fa-angle-right {
    margin-left: 10px;
    animation: sliding 1.5s linear infinite;
}

button:hover {
    color: gold;
}